.project{
    cursor: pointer;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    width: 15rem;
    border-radius: 30px;
    overflow: hidden;
    break-inside: avoid;
    
}

.project img{
    border-radius: 30px;
    width: 15rem;
}

.project h2{
    position: absolute;
    z-index: 999;
    display: none;
    text-align: center;
}

.project:hover h2{
    display: block;
}


.project:hover .cover{
    display: block;
}

.cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dd50a74b;
    display: none;
}
